.logout-icon {
    font-size: 35px;
    cursor: pointer;
}

.user-login {
    font-size: 15px;
    padding-right: 30px;
}

.logo {
    cursor: pointer;
    margin: 6px;
    border-radius: 25px;
}

.cursor {
    cursor: pointer;
}