.login-container {
  margin-top: 100px;
}
  
.login-content {
  padding: 30px;
  text-align: center;
  background: white;
  
  p {
      padding-top: 25px;
  }
}
  
.logo {
  margin: 0 auto;
}
  
.invisible{
  display: block;
  visibility: hidden;
  height: 0;
  width: 0;
}